
h1
{
	color: rgb(10, 3, 75); 
	font-size: 40px;
}
.body_backgorund {
background-image:url("bg1.jpg");
background-position:center;
background-size:cover;

}

#canvas{
border:10px ridge rgb(229, 67, 235);
background-color: rgb(212, 185, 248);
}

